# Виртуальная среда
.venv/
venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы Qt Designer
*.ui
*.qrc

# Настройки IDE
.vscode/
.idea/

# Системные файлы
Thumbs.db

# VSCode Workspace
TriuMF.code-workspace